
    <title>Timer</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link id="favicon" rel="icon" type="image/png" sizes="16x16">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141808041-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-141808041-1');
    </script>