<!DOCTYPE html>
<html>
	<head>
		<title>Timer</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script src="/javascripts/timer.js"></script>
	</head>

	<body>
		<h1>404 : Web page not found</h1>
		<%- include('includes/examples'); -%>
	</body>
</html>