<!DOCTYPE html>
<html>
	<head>
		<title>Timer</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script src="/javascripts/timer.js"></script>
	</head>

	<body>
		<h1>Hello!</h1>
	</body>
</html>