<!DOCTYPE html>
<html>
	<head>
		<%- include('includes/head'); -%>
	</head>

	<body>
		<div class="container">
			<center>
				<h1 class="title">Web Timer!</h1>
			</center>
			<%- include('includes/examples'); -%>
			<footer>Links: <a href="https://github.com/HeathLoganCampbell/sharable-webtimer">Github</a> | <a href="https://HeathLoganCampbell.com">My Website</a></footer>
		</div>
	</body>
</html>