<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
	<h1><%= title %></h1>
	<p id="timer"></p>
</body>

<script>
	var seconds = "<%= seconds %>";
	seconds = Number(seconds);
	var timerEle = document.getElementById("timer");
	timerEle.innerHTML = seconds;

	setInterval(() => {
		timerEle.innerHTML = --seconds;
	}, 1000);
</script>

</html>