<!DOCTYPE html>
<html>
	<head>
		<%- include('includes/head'); -%>
		<script>
			const startSeconds = <%= seconds %>;
			const startTimestamp = new Date().getTime();
		</script>
	</head>
	<body>
		<h1 id="timerSetFor"></h1>
		<h1 id="timer"></h1>
		<%- include('includes/examples'); -%>
		<audio preload="auto" id="endTimeSound">
			<source src="audio/alarm.mp3" type="audio/mpeg">
		</audio>
	</body>
	<script src="/javascripts/timer.js"></script>
	<script>
		//current timestamp
		var favicon = new FavProgress(startSeconds, startSeconds);
		favicon.update(startSeconds);

		setTimerSetForContents("Starting timer at " + toFormatedString(startSeconds))
		setInterval(() => {
			const currentTimestamp = new Date().getTime();
			const diffTimestampSeconds = ((currentTimestamp - startTimestamp) / 1000) | 0;
			var secondsLeft = startSeconds - diffTimestampSeconds;
			if(secondsLeft == 0) document.getElementById("endTimeSound").play();
			if(secondsLeft < 0) secondsLeft = 0;
			
			favicon.update(secondsLeft);
			const content = toTimerString(secondsLeft);
			
			setTimerContents(content);
			document.title = secondsLeft % 2 == 0 ? content.replace(/:/g, " ") : content;
		}, 500);
	</script>
</html>