<!DOCTYPE html>
<html>
	<head>
		<%- include('includes/head'); -%>
		<script>
			const startSeconds = <%= seconds %>;
			const startTimestamp = new Date().getTime();
		</script>
	</head>
	<body>
		<h1 id="timerSetFor"></h1>
		<h1 id="timer"></h1>
		<%- include('includes/examples'); -%>
		<audio preload="auto" id="endTimeSound">
			<source src="audio/alarm.mp3" type="audio/mpeg">
		</audio>
		<footer>Links: <a href="https://github.com/HeathLoganCampbell/sharable-webtimer">Github</a> | <a href="https://HeathLoganCampbell.com">My Website</a></footer>
	</body>
	<script src="/javascripts/timer.js"></script>
	<script>
		//current timestamp
		var favicon = new FavProgress(startSeconds, startSeconds);
		favicon.update(startSeconds);

		setTimerSetForContents("Starting timer at " + toFormatedString(startSeconds))
		setInterval(() => {
			var title = "Timer";
			const currentTimestamp = new Date().getTime();
			const diffTimestampSeconds = ((currentTimestamp - startTimestamp) / 1000) | 0;
			var secondsLeft = startSeconds - diffTimestampSeconds;
			if(secondsLeft == 0) 
				document.getElementById("endTimeSound").play();
			if(secondsLeft <= 0) 
			{
				title = secondsLeft % 2 == 0 ? "! Time is up !" : "| Timer finished |"
				secondsLeft = 0;
			}
			
			favicon.update(secondsLeft);
			const content = toTimerString(secondsLeft);

			if(secondsLeft > 0)
			{
				title = secondsLeft % 2 == 0 ? content.replace(/:/g, " ") : content;
			}
			
			setTimerContents(content);
			document.title = title
		}, 500);
	</script>
</html>